<h1><center>Laboratorio 3: El Pandas no muerde (act. I) üêº</center></h1>

<center><strong>MDS7202: Laboratorio de Programaci√≥n Cient√≠fica para Ciencia de Datos</strong></center>

### Cuerpo Docente:

- Profesor: Pablo Badilla
- Auxiliar: Ignacio Meza D.
- Ayudante: Constanza Pe√±a

### Equipo: SUPER IMPORTANTE - notebooks sin nombre no ser√°n revisados

- Nombre de alumno 1: Camila J. Pulgar Fern√°ndez
- Nombre de alumno 2: Francisca Solis G.

### **Link de repositorio de GitHub:** `https://github.com/cpulgarf/Laboratorios`

### Reglas:

- Fecha de entrega: 1 de octubre (atrasos hasta el 4 de octubre, 1 pto de descuento por d√≠a)
- **Grupos de m√°ximo 2 personas**
- **Ausentes** deber√°n realizar la actividad solos. 
- Cualquier duda fuera del horario de clases al foro. Mensajes al equipo docente ser√°n respondidos por este medio.
- Prohibidas las copias. 
- Pueden usar cualquer matrial del curso que estimen conveniente.

### Temas a tratar

- Introducci√≥n al manejo de datos tabulares por medio de la libreria `pandas`.

### Objetivos principales del laboratorio

- Entender, aplicar y aprovechar las ventajas que nos ofrece la libreria `pandas` para manejar datos tabulares.
- Aprender a utilizar la documentaci√≥n de pandas (y en general, de cualquier librer√≠a de python) como tambi√©n a buscar soluciones en la web.

> **Nota**: El laboratorio deber√° ser desarrollado sin el uso indiscriminado de iteradores nativos de python (aka "for", "while"). La idea es que aprendan a exprimir al m√°ximo las funciones optimizadas que nos entrega `pandas`, las cuales vale mencionar, son bastante m√°s eficientes que los iteradores nativos sobre DataFrames.

### Librerias utiles para el Lab üò∏

In [3]:
# Libreria Core del lab.
import numpy as np
import pandas as pd
from IPython.display import display

#Libreria para plotear
!pip install --upgrade plotly
import plotly.express as px
import plotly.graph_objects as go

# Librerias utiles
from sklearn.preprocessing import StandardScaler

Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (4.4.1)
Collecting plotly
  Downloading plotly-5.3.1-py2.py3-none-any.whl (23.9 MB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 23.9 MB 13 kB/s
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from plotly) (1.15.0)
Collecting tenacity>=6.2.0
  Downloading tenacity-8.0.1-py3-none-any.whl (24 kB)
Installing collected packages: tenacity, plotly
  Attempting uninstall: plotly
    Found existing installation: plotly 4.4.1
    Uninstalling plotly-4.4.1:
      Successfully uninstalled plotly-4.4.1
Successfully installed plotly-5.3.1 tenacity-8.0.1

# 1. Rendimiento en Estudiantes üìö

Para este laboratorio deber√°n trabajar con el dataset `students_grades.json` el cual contiene informaci√≥n sobre el rendimiento de alumnos en distintos ramos. 
El objetivo principal ser√° el de realizar un trabajo de limpieza de prepraci√≥n y exploraci√≥n de datos utilizando exclusivamente `DataFrames` y sus m√©todos asociados.

In [ ]:
# Si usted est√° utilizando Colabolatory le puede ser √∫til este c√≥digo para cargar los archivos.
try:
    from google.colab import drive
    drive.mount("/content/drive")
    path = 'Direcci√≥n donde tiene los archivos en el Drive'
except: 
    print('Ignorando conexi√≥n drive-colab')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## 1.1 Carga e Inspecci√≥n de Datos [1.5 Puntos]


<p align="center">
  <img src="https://drive.google.com/uc?export=view&id=1hZZaPQlZe4VupFOXt76_wjuUA5NpUhrw" width="300" height="300">
</p>

*Don Caguayo*, rector de la Universidad de la Cacha√±a, les comenta que actualmente la Universidad no tiene una subdirecci√≥n de an√°lisis de datos, pero que tiene un gran inter√©s en formar una. Es por esto, que se contacta con ud. y su equipo para iniciar de forma exploratoria diversas tareas de an√°lisis y consolidaci√≥n de datos respectivos al rendimiento de sus alumnos.

Previo a su primera reuni√≥n con el rector, el rector le env√≠a una copia de la base de datos, la cu√°l a usted y su equipo le encantar√≠a examinar. Para esto, la primera tarea que debe realizar es abrir y cargar el dataset. 


> **Notar que es sumamente importante el formato que posee cada columna** para su manipulaci√≥n y que posiblemente ustedes deber√°n especificar algunos tipos de datos a mano. Ver la documentaci√≥n del m√©todo `read_json` para mayor informaci√≥n.

A continuaci√≥n se muestra un ejemplo de los dos primeros registros del dataset:

```json
[
  {
    "names": "Rita Courtney",
    "gender": "female",
    "race/ethnicity": "group B",
    "parental level of education": "some high school",
    "lunch": "standard",
    "test preparation course": "none",
    "math score": 37,
    "reading score": 46,
    "writing score": 46
  },
  {
    "names": "Madeline Fuller",
    "gender": "female",
    "race/ethnicity": "group C",
    "parental level of education": "some high school",
    "lunch": "standard",
    "test preparation course": "none",
    "math score": 124,
    "reading score": 142,
    "writing score": 142
  }
]
```

In [1]:
from google.colab import files
uploaded = files.upload()

Saving students_grades.json to students_grades.json

In [87]:
df_grades = pd.read_json("students_grades.json")
df_grades.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1400 entries, 0 to 1399
Data columns (total 9 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   names                        1400 non-null   object
 1   gender                       1400 non-null   object
 2   race/ethnicity               1400 non-null   object
 3   parental level of education  1400 non-null   object
 4   lunch                        1400 non-null   object
 5   test preparation course      1400 non-null   object
 6   math score                   1400 non-null   object
 7   reading score                1400 non-null   object
 8   writing score                1400 non-null   object
dtypes: object(9)
memory usage: 98.6+ KB

In [88]:
df_grades["math score"] = pd.to_numeric(df_grades["math score"])
df_grades["reading score"] = pd.to_numeric(df_grades["reading score"])
df_grades["writing score"] = pd.to_numeric(df_grades["writing score"])


<p align="center">
  <img src="https://media2.giphy.com/media/4FQMuOKR6zQRO/giphy.gif?cid=ecf05e47ii9lhu9tc9tb31d6lafrysp2zyf6u8w3y348mk8t&rid=giphy.gif&ct=g">
</p>


Posteriormente, el rector les comenta que la secci√≥n de TI posee una base de datos con m√°s de **875** filas, en donde cada fila representa un alumno matriculado. Sin embargo, cree fuertemente que existen errores en esta: solo tiene registro de **875** matriculas. Por este motivo, especula que se han realizado malas pr√°cticas al registrar dichos datos.

En consecuencia, el rector les solicita a ustedes como tarea inicial que exploren la base de datos y encuentre posibles falencias dentro de sus registros. Para esto, usted debe estar al tanto que las notas est√°n en una escala que van del **0 al 100** (porcentaje de logro) y **no es posible que un alumno haya dado m√°s de una vez el mismo examen**. Cualquier alumno que posea un valor diferente a esta escala, deber√≠a ser eliminado de la base de datos.

> **Instrucciones**

**Cree una funci√≥n** que tome un `DataFrame` y que le permita revisar si las diferentes variables que lo componen son coherentes y si es posible observar anomal√≠as en estas. 

**To-Do**
1. [ ] Imprimir un mensaje con las dimensiones del Dataframe.
2. [ ] Imprimir un mensaje con los nombres de las columnas que conforman el DataFrame.
3. [ ] Mostrar los primeros 5, los √∫ltimos 5 elementos del DataFrame y realice un muestreo de 5 elementos de forma aleatoria.
4. [ ] Mostrar una descripci√≥n r√°pida de las variables num√©ricas del DataFrame (utilice un m√©todo visto en clases).
5. [ ] Imprimir un mensaje con la cantidad de valores nulos (investigue el m√©todo `isna()` y `sum()` de los DataFrames).
6. [ ] Imprimir un mensaje que detalle la cantidad de valores unicos (investigue `nunique()`) .
7. [ ] Imprimir un mensaje con el total de filas que contengan nombres duplicados (investigue `duplicated()` y su par√°metro `subset`).
8. [ ] Mostrar las filas que contengan nombres sean duplicados (investigue `duplicated()` y su par√°metro `subset`).
9. [ ] A traves de `.plot.box()` plotear el boxplot de las notas. De ser necesario, invetigue como funcionan los gr√°ficos de caja (esta secci√≥n es provista).
10. [ ] Finalmente responda la siguiente pregunta:

> ¬øQue anomalias es posible observar de los datos que componen el DataFrame? ¬øExisten valores nulos o duplicados? ¬øQu√© puede interpretar de la distribuci√≥n de las notas en el boxplot? (), comente esto en la celda ubicada debajo de **justificaci√≥n**.

> **Nota:** Para imprmir utilice `print(...)`. Para mostrar `DataFrames`, utilice `display(...)` ya que este permite mostrar estos elementos como tablas.

> **Nota 2:** Utilice la documentaci√≥n de [pandas](https://pandas.pydata.org/docs/index.html) como tambi√©n StackOverflow para resolver cualquier problema o inconveniente.

> **Nota 3:** Si no ha trabajado con boxplot antes, el siguiente link puede serle de mucha ayuda: [boxplot](https://medium.com/dayem-siddiqui/understanding-and-interpreting-box-plots-d07aab9d1b6c)

**Respuesta:**

In [12]:
def exploratory_data_analysis(dataframe):
     print('1.- El DataFrame tiene ' + str(dataframe.shape[0]) + ' filas y ' + str(dataframe.shape[1])+ ' columnas')
     print('\n')
     print('2.- El DataFrame esta compuesto por las siguientes columnas:' + str(list(dataframe.columns)) )
     print('\n')
     print('3.- Ejemplos de filas del DataFrame:'  + '\n ' + 'Primeras 5 filas')
     print('\n')
     display(dataframe.head(5))
     print('\n')
     print('√öltimas 5 filas')
     print('\n')
     display(dataframe.tail(5))
     print('\n')
     print('Muestreo aleatorio de 5 filas:')
     display(dataframe.sample(5))
     print('4.- Descripci√≥n num√©rica del Dataframe:')
     display(dataframe.describe())
     print('5.- Cantidad de valores nulos por columna:')
     display(dataframe.isna().sum())
     print('\n')
     print('6.- Cantidad de valores √∫nicos por columna:')
     print('\n')
     display(dataframe.nunique())
     print('\n')
     print('7.- Presenta un total de ' + str(dataframe.duplicated(['names']).sum()) + ' filas con nombres duplicados.')
     print('\n')
     print('8.- Las filas con nombres duplicados son:')
     print('\n')
     display(dataframe[dataframe.duplicated('names')])
     print('\n')
     print('9.- Boxplot de notas:')
     fig = go.Figure()
     fig.add_trace(go.Box(y=dataframe.iloc[:,6], name='math score'))
     fig.add_trace(go.Box(y=dataframe.iloc[:,7], name = 'reading score',
                marker_color = 'indianred'))
     fig.add_trace(go.Box(y=dataframe.iloc[:,8], name = 'writing score',
                marker_color = 'lightseagreen'))
     fig.show()

In [48]:
exploratory_data_analysis(df_grades)

1.- El DataFrame tiene 1400 filas y 9 columnas


2.- El DataFrame esta compuesto por las siguientes columnas:['names', 'gender', 'race/ethnicity', 'parental level of education', 'lunch', 'test preparation course', 'math score', 'reading score', 'writing score']


3.- Ejemplos de filas del DataFrame:
 Primeras 5 filas

              names  gender  ... reading score writing score
0     Rita Courtney  female  ...          46.0          46.0
1   Madeline Fuller  female  ...         142.0         142.0
2     Daniel Rester    male  ...         196.0         193.0
3  Charles Linstrom    male  ...          78.0          81.0
4    Geraldine Hale  female  ...         166.0         166.0

[5 rows x 9 columns]

√öltimas 5 filas

                 names  gender  ... reading score writing score
1395  Alexander Dillon    male  ...         142.0         193.0
1396    Marina Zeigler  female  ...          74.0          81.0
1397     Laurie Carter  female  ...          61.0          62.0
1398      Joseph Mccoy    male  ...         196.0         193.0
1399      Amanda Perez  female  ...          80.0          76.0

[5 rows x 9 columns]

Muestreo aleatorio de 5 filas:

                names  gender  ... reading score writing score
191        Betty Byrd  female  ...         124.0         124.0
1075    Loretta Velez  female  ...          96.0          99.0
918      Tosha Benson  female  ...         100.0         100.0
1121       William Ng    male  ...          64.0          55.0
1011  Elizabeth Crain  female  ...         193.0         124.0

[5 rows x 9 columns]

4.- Descripci√≥n num√©rica del Dataframe:

        math score  reading score  writing score
count  1360.000000    1360.000000    1353.000000
mean     89.538971      93.086029      91.852919
std      47.152422      46.385775      47.043570
min       0.000000      17.000000      10.000000
25%      59.000000      63.000000      62.000000
50%      72.000000      76.000000      75.000000
75%      97.250000     100.000000     100.000000
max     196.000000     196.000000     196.000000

5.- Cantidad de valores nulos por columna:

names                           0
gender                          0
race/ethnicity                  0
parental level of education     0
lunch                           0
test preparation course         0
math score                     40
reading score                  40
writing score                  47
dtype: int64

6.- Cantidad de valores √∫nicos por columna:

names                          1153
gender                            2
race/ethnicity                    5
parental level of education       6
lunch                             2
test preparation course           2
math score                       96
reading score                    88
writing score                    92
dtype: int64

7.- Presenta un total de 247 filas con nombres duplicados.


8.- Las filas con nombres duplicados son:

                   names  gender  ... reading score writing score
12         Rita Courtney  female  ...         193.0         193.0
81    Elizabeth Quintero  female  ...          85.0          87.0
160    Michelle Gonzales  female  ...          70.0          74.0
170        Carla Mendoza  female  ...          60.0          58.0
176       Darlene Parker  female  ...          61.0          58.0
...                  ...     ...  ...           ...           ...
1385      James Crawford    male  ...         147.0         131.0
1390     Gloria Bradford  female  ...          64.0         193.0
1393         Adam Romero    male  ...         193.0          49.0
1395    Alexander Dillon    male  ...         142.0         193.0
1398        Joseph Mccoy    male  ...         196.0         193.0

[247 rows x 9 columns]

9.- Boxplot de notas:

**Justificaci√≥n:**


Es posible distinguir primero, que en las tres asignaturas se presentan outliers, es decir, valores at√≠picos mayores al rango al que pertenecen las notas [0,100]. 
Adicionalmente, las notas con valores m√°ximos no at√≠picos tambi√©n escapan del rango. Tambi√©n se observa un m√≠nimo at√≠pico para las notas de matem√°ticas.
Adem√°s se observa que ninguna de las distribuciones son sim√©tricas, dado que el valor de la mediana no se encuentra al centro de las cajas.

Con respecto a la base de datos en s√≠, se puede observar principalmente que los datos que debieran ser num√©ricos (scores de los ramos) no lo son, por lo que fuer necesario una modificaci√≥n de la data de forma inicial. Tambi√©n se observa que hay valores nulos en la base, destacando que "writing score" es la variable con m√°s nulos (47), sin embargo, se resalta la poca cantidad de nulos, ya que estos son pocos en comparaci√≥n al tama√±o de la base.

Por otro lado, tambi√©n se presentan valores duplicados para un mismo alumno, es decir, hay alumnos en la base que est√°n 2 veces en esta y que sus notas presentan valores fueras de rango.

**Respuesta Esperada:**

## 1.2 Limpieza de Datos [1 punto]

<p align="center">
  <img src="https://media3.giphy.com/media/c09yGbnSyaFRS/giphy.gif?cid=ecf05e47d0ejjjnpfj0ywcbwz7zk7sw2rfdpis890gmdpvj2&rid=giphy.gif&ct=g">
</p>

En base a lo realizado anteriormente, realice una limpieza de los dataset. Asuma los supuestos se√±alados en la pregunta anterior para limpiar el `DataFrame` y cree una funci√≥n que le permita limpiar los datos. Una vez limpiado cada uno de los `DataFrames` compruebe nuevamente los datos con la funci√≥n creada en la secci√≥n 1.1.

**To-Do:**

- [ ] Crear funci√≥n que permita limpiar el dataset.
- [ ] Comprobar que no existen anomal√≠as en los datos a traves de la funci√≥n de la secci√≥n 1.1.

**Hint**

Puede ser √∫til los m√©todos ```.drop_duplicates()``` y ```.dropna()``` como tambi√©n utilizar queries con m√°scaras booleanas.

**Respuesta:**

In [14]:
def clean_data(data):
  data=data.drop_duplicates(["names"])  #eliminar valores duplicados, en base al nombre del alumno
  data = data.dropna()  #eliminar nulos
  #se eliminan los valores de scores que superen el m√°ximo = 100
  data= data[data["math score"] <=100]
  data=data[data["reading score"]<=100]
  data=data[data["writing score"]<=100]
  return data

In [89]:
df_grades = clean_data(df_grades)
df_grades

                 names  gender  ... reading score writing score
0        Rita Courtney  female  ...          46.0          46.0
3     Charles Linstrom    male  ...          78.0          81.0
5          Brian Young    male  ...          66.0          63.0
6       Howard Jimenez    male  ...          75.0          76.0
7         Wayne Wilson    male  ...          86.0          87.0
...                ...     ...  ...           ...           ...
1392     Richard Young    male  ...          75.0          71.0
1394     Wanda Russell  female  ...          44.0          36.0
1396    Marina Zeigler  female  ...          74.0          81.0
1397     Laurie Carter  female  ...          61.0          62.0
1399      Amanda Perez  female  ...          80.0          76.0

[875 rows x 9 columns]

In [16]:
exploratory_data_analysis(df_grades)

1.- El DataFrame tiene 875 filas y 9 columnas


2.- El DataFrame esta compuesto por las siguientes columnas:['names', 'gender', 'race/ethnicity', 'parental level of education', 'lunch', 'test preparation course', 'math score', 'reading score', 'writing score']


3.- Ejemplos de filas del DataFrame:
 Primeras 5 filas

              names  gender  ... reading score writing score
0     Rita Courtney  female  ...          46.0          46.0
3  Charles Linstrom    male  ...          78.0          81.0
5       Brian Young    male  ...          66.0          63.0
6    Howard Jimenez    male  ...          75.0          76.0
7      Wayne Wilson    male  ...          86.0          87.0

[5 rows x 9 columns]

√öltimas 5 filas

               names  gender  ... reading score writing score
1392   Richard Young    male  ...          75.0          71.0
1394   Wanda Russell  female  ...          44.0          36.0
1396  Marina Zeigler  female  ...          74.0          81.0
1397   Laurie Carter  female  ...          61.0          62.0
1399    Amanda Perez  female  ...          80.0          76.0

[5 rows x 9 columns]

Muestreo aleatorio de 5 filas:

                names  gender  ... reading score writing score
577    Louis Mckinzie    male  ...          73.0          67.0
564  Marcus Mcfarland    male  ...          64.0          66.0
935    Amanda Terrell  female  ...          82.0          79.0
260     Shelby Flores    male  ...          68.0          72.0
404          Ann Cain  female  ...          86.0          84.0

[5 rows x 9 columns]

4.- Descripci√≥n num√©rica del Dataframe:

       math score  reading score  writing score
count  875.000000     875.000000     875.000000
mean    66.225143      69.195429      68.114286
std     15.076716      14.629270      15.174220
min      0.000000      17.000000      10.000000
25%     57.000000      59.000000      57.500000
50%     66.000000      70.000000      69.000000
75%     76.500000      79.000000      79.000000
max    100.000000     100.000000     100.000000

5.- Cantidad de valores nulos por columna:

names                          0
gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

6.- Cantidad de valores √∫nicos por columna:

names                          875
gender                           2
race/ethnicity                   5
parental level of education      6
lunch                            2
test preparation course          2
math score                      79
reading score                   72
writing score                   77
dtype: int64

7.- Presenta un total de 0 filas con nombres duplicados.


8.- Las filas con nombres duplicados son:

Empty DataFrame
Columns: [names, gender, race/ethnicity, parental level of education, lunch, test preparation course, math score, reading score, writing score]
Index: []

9.- Boxplot de notas:

> Utilice la funci√≥n creada en el punto 1.1 para verificar sus resultados.

**Justificaci√≥n:**


Es posible visualizar que las notas est√°n dentro del rango esperado, de 0 a 100. Siguiendo aproximadamente una distribuci√≥n normal (es casi sim√©trica en cada caso la distribuci√≥n, dado que la mediana est√° pr√°cticamente al centro de la caja), para el caso del math score con mediana en 66, el reading score mediana en 70 y el writing score con mediana en 59.
Tambi√©n se observan valores at√≠picos menores 27, 28 y 23 respectivamente.

Con respecto a la base en s√≠, se observa que la cantidad de filas en esta disminuy√≥ notablemente, pasando de las 1400 filas originales a 875 filas, correspondientes a la cantidad de matriculas que existen en la universidad.

## 1.3 Trabajando con Datos

<p align="center">
  <img src="https://media4.giphy.com/media/ko7twHhomhk8E/giphy.gif?cid=ecf05e47xmgfz8ftaom8saa4cwktxpb0fkui9yk3nakb4ff1&rid=giphy.gif&ct=g">
</p>

### 1.3.1 Transformaci√≥n de notas a "Nota Chilena" [0.5 Puntos]

En una de las reuniones con Don Caguayo este les comenta su intenci√≥n de pasar todas sus notas a la "Escala Chilena". Para esto les facilita la siguiente ecuaci√≥n:

$$Nota \, Chilena= \% \, de \, logro*0.06 + 1$$

Utilizando la ecuaci√≥n entregada, cree una funci√≥n que le permita pasar a la escala Chilena las notas que se escapan del rango [1,7] y entregue las notas redondeadas al segundo decimal.

**To-Do**

- [ ] Tranforme los valores a la escala chilena.

**Respuesta:**

In [17]:
def nota_chilena(dataframe_in, columna):
  dataframe_in.loc[:, columna] = round(dataframe_in.loc[:, columna] * 0.06 +1, 2)

In [90]:
nota_chilena(df_grades, "math score")
nota_chilena(df_grades, "reading score")
nota_chilena(df_grades, "writing score")

In [76]:
df_grades.head(5)

              names  gender  ... reading score writing score
0     Rita Courtney  female  ...          3.76          3.76
3  Charles Linstrom    male  ...          5.68          5.86
5       Brian Young    male  ...          4.96          4.78
6    Howard Jimenez    male  ...          5.50          5.56
7      Wayne Wilson    male  ...          6.16          6.22

[5 rows x 9 columns]

### 1.3.2 Obtenci√≥n de promedio de alumnos [0.5]

Con todas las notas adjuntadas, la prestigiosa Universidad De la Cacha√±a necesita obtener el promedio general de cada uno de los alumnos. Para esto se le solicita que calcule el promedio con cada una de las asignaturas y el promedio se anexe como una nueva columna al final del DataFrame original. Cabe se√±alar que las notas deben ser redondeadas al segundo decimal.

**To-Do:**
- [ ] Crear funci√≥n que nos permite obtener el promedio de cada uno de los alumnos y anexar esta informaci√≥n en el DataFrame original.

**Respuesta:**

In [20]:
def alumnos_promedio(dataframe_in):
  dataframe_in["GPA"] = pd.to_numeric(round(dataframe_in[["math score","reading score","writing score"]].mean(axis=1), 2))
  return dataframe_in

**Respuesta Esperada:**

In [91]:
df_grades = alumnos_promedio(df_grades)
df_grades.head()

              names  gender race/ethnicity  ... reading score writing score   GPA
0     Rita Courtney  female        group B  ...          3.76          3.76  3.58
3  Charles Linstrom    male        group A  ...          5.68          5.86  5.78
5       Brian Young    male        group C  ...          4.96          4.78  5.04
6    Howard Jimenez    male        group E  ...          5.50          5.56  5.64
7      Wayne Wilson    male        group B  ...          6.16          6.22  6.34

[5 rows x 10 columns]

In [92]:
df_grades.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 875 entries, 0 to 1399
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   names                        875 non-null    object
 1   gender                       875 non-null    object
 2   race/ethnicity               875 non-null    object
 3   parental level of education  875 non-null    object
 4   lunch                        875 non-null    object
 5   test preparation course      875 non-null    object
 6   math score                   875 non-null    float64
 7   reading score                875 non-null    float64
 8   writing score                875 non-null    float64
 9   GPA                          875 non-null    float64
dtypes: float64(4), object(6)
memory usage: 75.2+ KB

### 1.3.3 Reprobados y Destacados [1.5 Punto, 0.5 Cada DataFrame]

Contentos con su desempe√±o, la Universidad les solicita que obtengan los alumnos quienes han reprobado el a√±o y los que han tenido desempe√±o de destacado. Para esto se considerar√° que un alumno ha reprobado el a√±o cuando el promedio de notas es inferior a 4.0 en la Escala Chilena, y se considerar√° destacado si posee notas superiores a 5.8 en todas las asignaturas (o sea notas superiores a 5.8 en `math score`, `reading score` y `writing score`).

Cree una funci√≥n que permita obtener tres Dataframes: 
- El primero deber√° poseer solamente los alumnos que han reprobado en la prestigiosa universidad.
- El segundo debe entregar un DataFrame similar al original, pero marcado con una "R" el promedio de notas de los alumnos reprobados.
- El tercero ser√° un Data Frame con los alumnos destacados ordenados de mayor a menor.

**To-Do:**

- [ ] Obtener DataFrame con los alumnos que reprobaron el a√±o.
- [ ] Obtener DataFrame similar al original, pero marcados con una "R" el atributo GPA de los alumnos reprobados.
- [ ] Obtener DataFrame con los alumnos destacados ordenados de mayor a menor.

**Respuesta:**

In [22]:
def reprobados_destacados(dataframe_in):
    reprobados = dataframe_in[dataframe_in["GPA"] < 4.0]
    destacados = dataframe_in[(dataframe_in["math score"] > 5.8) & (dataframe_in["reading score"] > 5.8) & (dataframe_in["writing score"] > 5.8) ].sort_values(['math score', 	'reading score', 	'writing score'], ascending=False)
    dataframe_in.loc[dataframe_in[dataframe_in["GPA"] < 4].index, "GPA"] = "R"
    return reprobados, dataframe_in , destacados

In [93]:
df_gr = df_grades.copy()

In [95]:
dataframe1, dataframe2, dataframe3 = reprobados_destacados(df_grades)
dataframe1.head(3)

            names  gender race/ethnicity  ... reading score writing score   GPA
0   Rita Courtney  female        group B  ...          3.76          3.76  3.58
13    Mikki Amaya  female        group A  ...          3.88          3.46  3.46
26  Samuel Dougal    male        group C  ...          3.52          3.76  3.68

[3 rows x 10 columns]

In [96]:
dataframe2.head(3)

              names  gender race/ethnicity  ... reading score writing score   GPA
0     Rita Courtney  female        group B  ...          3.76          3.76     R
3  Charles Linstrom    male        group A  ...          5.68          5.86  5.78
5       Brian Young    male        group C  ...          4.96          4.78  5.04

[3 rows x 10 columns]

In [97]:
dataframe3.head(3)

                  names  gender  ... writing score  GPA
384   Elizabeth Beasley  female  ...           7.0  7.0
677       Richard Pryor    male  ...           7.0  7.0
1352      Sandra Pompey  female  ...           7.0  7.0

[3 rows x 10 columns]

**Respuesta:**


En este an√°lisis, es posible visualizar que la cantidad de alumnos con rendimientos destacados es de 94, mientras que la de alumnos reprobados es de 86. Y el resto son alumnos que han aprobado, pero sin tener un rendimiento destacado, por lo que se tiene una comprobaci√≥n y/o verificaci√≥n, del an√°lisis realizado previamente en los gr√°ficos de caja para los datos limpios.

### 1.3.4 Consultas de Alumnos [0.5 Puntos]

Algunos padres (extremadamente entrometidos y...) preocupados por el desempe√±o de sus hijos, desean saber estos han aprobado o no el a√±o. Como la tarea de buscar a mano cada uno de estos alumnos en el `DataFrame` resulta demasiado tedioso, el rector le solicita crear una funci√≥n que tenga como entrada el `DataFrame` donde se realizar√° la busqueda y una lista con los nombres de los alumnos, luego la funci√≥n deber√° retornar un `DataFrame` con los nombres de los alumnos y el promedio general de cada uno. 

Creada la funci√≥n busque el promedio general de los siguientes alumnos en el segundo Data frame creado en la secci√≥n 1.3.3:

`['Lucille Stanphill','Marcus Mcfarland', 'Matthew Freeman', 'Dana Mojica', 'Paul Hyder', 'Jeffrey Korn', 'Robert Strain',
'Ronald Jett', 'Lorena Reed', 'Hazel Posey']`

**Hint:** Puede serle de utilidad utilizar `isin()`.

**Respuesta:**

In [54]:
def consulta_gpa(dataframe_in, lista_alumnos):
    cons = dataframe_in.loc[dataframe_in[dataframe_in["names"].isin(lista_alumnos)].index, ["names","GPA"]]
    return pd.DataFrame(cons)


lista_alumnos = [
    "Lucille Stanphill",
    "Marcus Mcfarland",
    "Matthew Freeman",
    "Dana Mojica",
    "Paul Hyder",
    "Jeffrey Korn",
    "Robert Strain",
    "Ronald Jett",
    "Lorena Reed",
    "Hazel Posey",
]
consulta_gpa(dataframe2, lista_alumnos)

                  names   GPA
296   Lucille Stanphill  5.94
564    Marcus Mcfarland  4.86
637     Matthew Freeman     R
640         Dana Mojica     R
1054      Robert Strain   4.4
1065        Ronald Jett     R
1068        Hazel Posey     R
1195        Lorena Reed     R

### 1.3.5 Quintiles de Rendimiento [0.5 Puntos]

El rector, intrigado por saber si existe una relaci√≥n entre el nivel educacional de los padres y las notas de sus hijos les plantea estudiar dicha relaci√≥n. Para esto, les solicita que desde el `DataFrame` que posee a todos los alumnos (`DataFrame` obtenido tras la limpieza), generen una nueva columna que clasifique en quintiles de rendimiento para sus alumnos: `['Baj√≠simo', 'Bajo', 'Medio', 'Alto', 'Muy alto']`. (investigar `qcut()`)

Hecho esto, grafique a trav√©s de un scatter plot el nivel educacional de los padres v/s el promedio de los alumnos, utilice los cuantiles generados anteriormente para mostrar en que cuantil se encuentra cada uno de los datos.

Realizado el grafico, responda la siguiente pregunta: **¬øEs posible visualizar alguna tendencia en el gr√°fico?.**

**Respuesta:**

In [98]:
import copy
gpa = df_gr.copy()

In [100]:
def clas_quintil(data):
  data["GPA cuantiles"] = pd.qcut(data.GPA, q=5,labels=['Baj√≠simo','Bajo','Medio','Alto','Muy alto'])
  return data

In [103]:
clas_quintil(gpa).head()

              names  gender race/ethnicity  ... writing score   GPA GPA cuantiles
0     Rita Courtney  female        group B  ...          3.76  3.58      Baj√≠simo
3  Charles Linstrom    male        group A  ...          5.86  5.78          Alto
5       Brian Young    male        group C  ...          4.78  5.04         Medio
6    Howard Jimenez    male        group E  ...          5.56  5.64          Alto
7      Wayne Wilson    male        group B  ...          6.22  6.34      Muy alto

[5 rows x 11 columns]

In [105]:
# C√≥digo para quintiles 
# La variable que contenga los quintiles debe llamarse GPA cuantiles para que el gr√°fico funcione.

# C√≥digo de gr√°fico 
fig = px.scatter(
    gpa.sort_values(by="GPA"),
    x="GPA",
    y="parental level of education",
    hover_data=["gender"],
    color="GPA cuantiles",
    title="GPA por Nivel de educaci√≥n de los padres",
    color_discrete_sequence=["tomato", "orange", "yellow", "greenyellow", "green"]
)

fig

```
**¬øEs posible visualizar alguna tendencia en el gr√°fico?**
```

Es posible visualizar, que para el caso en el que lo padres tienen una muy baja educaci√≥n, cursando algo o por completo el high school, hay un gran porcentaje que tiene un rendimiento baj√≠simo en comparaci√≥n, con la cantidad de alumnos que obtinene un rendimiento baj√≠simo cuando sus padres tienen mayor educaci√≥n. En el caso extremo, cuando los padres tienen un master o el bachelor, la cantidad de alumnos con rendimiento baj√≠simo es mucho menor.

# Conclusi√≥n
Eso ha sido todo para el lab de hoy, recuerden que el laboratorio tiene un plazo de entrega de una semana. Cualquier duda del laboratorio, no duden en contactarnos por mail o U-cursos.

<p align="center">
  <img src="https://media1.tenor.com/images/2f7df460196625edc45b8380d158e5ee/tenor.gif?itemid=16669403">
</p>

<br>
<center>
<img src="https://i.kym-cdn.com/photos/images/original/001/194/195/b18.png" width=100 height=50 />
</center>
<br>

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=87110296-876e-426f-b91d-aaf681223468' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>